<div class="events-section">
  <div class="wrapper">
    <% if @events.any? %>
      <h1><%= @user.nick_name %>のココロミ</h1>
      <%= render partial: 'events/event_item', collection: @events, as: 'event' %>
    <% end %>
  </div>
</div>
<div class="user-section">
  <div class="wrapper">
    <div class="user-detail">
      <% if @user.image.present? %>
        <%= image_tag @user.image, class: 'user-image' %>
      <% else %>
        <%= image_tag 'blank_user_image.png', class: 'user-image' %>
      <% end %>
      <p class="user-name"><%= @user.nick_name %></p>
      <p class="user-profile"><%= @user.profile %> </p>
    </div>
  </div>
</div>
