<div class="eye-catching">
  <div class="wrapper">
    <div class="event-header">
      <h1><%= @event.name %> </h1>
      <div class="btn-space">
        <% if @event.created_by?(current_user) %> 
          <%= link_to '編集する', edit_event_path(@event), class: 'btn btn-default' %> 
          <%= link_to '削除する', event_path(@event), class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %> 
        <% end %> 
      </div>
    </div>
    <%= render 'shared/error_messages', model: @reservation unless @reservation.nil? %>
    <div class="image-box">
      <% if @event.image.attached? %> 
        <%= image_tag @event.image, class: 'card-img-top top-image' %> 
      <% else %> 
        <%= image_tag 'no_event_image.jpeg', class: 'top-image' %> 
      <% end %> 
    </div>
    <div class="event-title">
      <h2><%= @event.title %> </h2>xx
    </div>
  </div>
</div>
