<% today = Date.today %>

<h1 class="mt-2">ココロミを登録</h1>
<%= form_with model: @event, local: true do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="form-group">
    <%= f.label :name %> 
    <%= f.text_field :name, class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :title %> 
    <%= f.text_field :title, class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :discription %> 
    <%= f.text_area :discription, class: 'form-control', row: 10 %> 
  </div>
  <div class="form-group">
    <%= f.label :place %> 
    <%= f.text_field :place, class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :price %> 
    <%= f.text_field :price, class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :required_time %> 
    <%= f.text_field :required_time, class: 'form-control' %> 
  </div>
  <div class="form-group">
    <%= f.label :capacitiy %> 
    <%= f.text_field :capacitiy, class: 'form-control' %> 
  </div>
  <table id="hosted_date-table" class="form-group">
    <tr>
      <th><%= f.label :start_at %></th>
      <th><%= f.label :end_at %></th>
    </tr>
    <%= f.fields_for :hosted_dates do |date| %>
      <tr>
        <td><%= date.datetime_field :start_at, value: today.strftime('%Y-%m-%dT%T'), min: today.strftime('%Y-%m-%dT%T'), max: today.next_year.strftime('%Y-%m-%dT%T'), step:600 %></td>
        <td><%= date.datetime_field :end_at, value: today.strftime('%Y-%m-%dT%T'), min: today.strftime('%Y-%m-%dT%T'), max: today.next_year.strftime('%Y-%m-%dT%T'), step:600  %></td>
      </tr>
    <% end %>
  </table>
  <div class="form-group">
    <%= f.label :is_published %> 
    <%= f.select :is_published, [['公開', true], ['非公開', false]], {}, { class: 'form-control' } %>
  </div>
  <%= f.submit class: 'btn btn-primary' %> 
<% end %> 
