<header class="navbar navbar-expand-sm navbar-light bg-light">
  <%= link_to "wakuraku", root_path, class: "navbar-brand" %>
  <% unless user_signed_in? %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
    </ul>
  <% else %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to 'プロフィール', user_path(current_user), class: 'nav-link' %></li>
        
        <li class="nav-itme dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ダッシュボード
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'ココロミをつくる', new_event_path, class: 'dropdown-item' %>
            <%= link_to 'ココロミ一覧', dashboard_events_path, class: 'dropdown-item' %>
            <%= link_to '予約一覧', dashboard_reservations_path, class: 'dropdown-item' %>
            <%= link_to '顧客一覧', dashboard_customers_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item"><%= link_to '申し込み履歴', user_reservations_path(current_user), class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
      </ul>
    </div>
  <% end %>
</header>
