<!DOCTYPE html>
<html>
  <head>
    <title>Wakuraku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default">
      <div class="container">
        <%= link_to "wakuraku", root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %> 
            <li><%= link_to "ココロミをつくる", "" %></li>
            <li><%= link_to 'ログアウト', users_sign_out_path %></li>
          <% else %> 
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %> 
        </ul>
      </div>
    </header>
    <div class="container">
      <% if flash[:notice] %> 
        <%= render 'layouts/flashes' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
