<h2>プロフィール変更</h2>

<%= form_with model: @user, url: user_registration_path, id: 'edit_user', class: 'edit_user', local: true do |f| %>
  <%= render 'users/shared/error_messages' , resource: resource %>
  <div class="form-group">
    <%= render 'avatar_uploader', f: f %>
  </div>
  <div class="form-group">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :profile %>
    <%= f.text_area :profile, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.phone_field :phone_number, autocomplete: 'tel', class: 'form-control'%>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control'%>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %>文字以上（変更しない場合はブランク）</em>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit 'プロフィールを変更する', class: 'btn btn-primary' %>
  </div>
<% end %>
<p><%= link_to '戻る', :back %></p>
<p><%= link_to '退会する', new_retirements_path %></p>
